<!DOCTYPE html>
<html>
  <head>
    
      <title>Vision Electronic.</title>
    <link rel="stylesheet"   href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js" ></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/tabs.js"></script>
  </head>
  <body>
    

                <div id="app" class="container">

                    <div class="row">
                        <div class="col-12 col-sm-1 col-md-1 content-centers"></div>
                       <div class="card">
                        <div class="card-header">
                            <h2 id="header-table" class="card-title text-center">Sistema de monitoreo remoto</h2>
                        </div>
                                <div class="card-block">
                                    <table class="table table-striped">
                                        <div class="row">
                                            <tr>
                                                <div class="col-6 col-sm-6 col-md-6">   <th> </th> </div>
                                                
                                            </tr>
                                                                <tr>
                                                                    <div class="col-6 col-sm-6 col-md-6"> <td id='panel'></td> </div>
                                                                    
                                                              
                                                                </tr>
                                                            
                                                    </div>
                                    </table>
                                </div>
                            </div>
                        <div class="col-12 col-sm-1 col-md-1"></div>
                    </div>
                </div>
    {{{body}}}
  </body>
</html>
