<div class="container">
        <section  id ="scontenido" class=" row-main content-center">

        <article class="row">
                <div id="tabs" class="row content-center">
                    <ul class="col">
                        <div class="col-xs-12 col-sm-12  col-md-2 col-lg-2"></div>
                        <li class= "col-xs-12 col-sm-12  col-md-4 col-lg-4" ><a href="#tabs-1" class= "col-xs-12  text-center ">COMANDOS MODBUS</a></li>
                        <li class= "col-xs-12 col-sm-12  col-md-4 col-lg-4"><a href="#tabs-2" class= "col-xs-12  text-center "> ESP32</a></li>
                        
                        <div class="col-xs-12 col-sm-12  col-md-2 col-lg-2"></div>
                    </ul>
                <div class ="row">
                    <div id="tabs-1">
                        <div id="app" class="container">









                            <div class="card-body">
				                <form   class="form-block"   id="formulario" >
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Funcion Modbus</label>
                                        <input   type="number"   class="form-control" id="fm" aria-describedby="emailHelp" placeholder="Funcion Modbus">
                                        <small id="emailHelp" class="form-text text-muted">read multiples register(0x03) .</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Direccion de inicio</label>
                                        <input  type="number"  class="form-control" id="dm" placeholder="direccion de inicio ">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Cantidad de registros</label>
                                        <input  type="number"  class="form-control" id="size" placeholder="cantidad de registros ">
                                    </div>
                                   
                                    <button type="submit" class="btn btn-primary"   id="boton">Enviar comando</button>
                                </form>	
			               </div>
                        </div>
                    </div>
                    <div id="tabs-2">
                        <div id="app" class="container">

                            <div class="row">
                                <div class="container">      
                                    <div class="row">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th id="dirccion">Direccion:</th>
                                                    <th>Registros:</th>
                                                </tr>
                                            </thead>
                                            <tbody id="registros">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
</div>


        

    <footer><div class="container"><h6 class="text-right">VISION ELECTRONIC</h6></div></footer>



<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script>
$(document).ready(function()
 {   

let registros = $("#registros");
let direccion = $("#direccion");
let contador=0;
let simbolo = "#";
let boton= $("#boton");
let dir=$("#dm");
let func =$("#fm");
let cantidadreg=$("#size");
$("#boton").click((event)=>
{
    event.preventDefault();
     console.log("Se a presionado el boton -------------------------");
      
    
    let direccion=parseInt(dir.val());
        
    let funcion=parseInt(func.val());
    let cant = parseInt(cantidadreg.val());
   
    

    var com =
    {
        funcion: funcion,
        direccion: direccion,
        size:cant
    };
    console.log(com);
    var socket = io("http://localhost:8000");

    socket.emit('comando', com);
   // socket.close();

});
    
           




 var socket = io("http://localhost:8000");

      socket.on("tramas", function(msg) 
      {
          console.log("recibi mensajes socket\n");
          reload(msg.msg);
      });

socket.on("direccion", function(msg) 
      {
          console.log("recibi direccion modbus ",msg.msg);
           direccion.html("Direccion: "+msg.msg);
       //   reload(msg.msg);
      });

     function reload(msg)
     {
        console.log("comenzamos las pruebas frontend\n");
        registros.html(msg);
     }
   




   

 });
    


</script
